<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>Registration form</title>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
  </head>
<body>
  <div class="container">
    <div class="title">Registration</div>
    <br>
    {{error}}<br>
    {{role_error}}<br>
    {{user_error}}<br>
    {{email_error}}<br>
    {{pass_error}}<br>
    {{input_error}}<br>
    {{conf_pass_error}}
    <br>
    <form action="#" method="post">
        {% csrf_token %}
        {{user.as_p}}
        <div class="button">
          <input type="submit" value="Register" style=" height:50px;width:120px">
        </div>
    </form>
  </div>
</body>
</html>